body {
    margin: 0;
    background-color: #000;
    font-family: Helvetica, Arial, Sans, sans-serif;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
}

.resizable {
    width: 500px;
    border-radius: 8px;
    padding: 20px;
    margin: 1rem;
    background-color: #29e;
    color: white;
    font-size: 20px;
    font-family: sans-serif;

    touch-action: none;

    /* This makes things *much* easier */
    box-sizing: border-box;
}

#myVid {
    width: 100%;
}

.rotate {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*sidebar css */
*,
*:focus,
*:hover {
    outline: none;
}

.fa,
.fas {
    font-weight: 900;
    color: white;
    font-size: 28px;
}

.right {
    float: right !important;
}

.chat-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chat-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    z-index: 2000;

}

.chat-botton-container {
    position: absolute;
    right: 5px;
    background: transparent;
}

.chat-button {
    -webkit-appearance: button;
}

.chat-button {
    text-transform: none;
}

.chat-button {
    overflow: visible;
}

.chat-button {
    font: inherit;
    margin: 0;
}

.fa-comment-dots {
    position: absolute;
    right: 5px;
    background: transparent;
}

.animate-right {
    position: relative;
    animation: animateright 0.4s;
}

.animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}


.card,
.card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.sidebar {
    height: 100%;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed !important;
    z-index: 1000;
    overflow: auto;
    border: thin grey solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.localmsg,
.remotemsg {
    padding: 5px;
}

#message {
    width: 82%;
    margin-left: 11px;
}

#messages {
    display: flow-root;
    /* border: thin grey solid;
            border-radius: 20px; */
    padding: 10px;
    min-height: 100px;
    max-height: 100%;
    overflow-y: scroll;
}

#messages br:nth-child(1) {
    display: none;
}


.user {
    font-weight: 600;
}

.localmsg {
    background-color: lightgreen;
    border-radius: 5px;
    float: left;
    display: block;
    clear: both;
    margin-top: 10px;

}

.remotemsg {
    background-color: lightskyblue;
    border-radius: 5px;
    text-align: right;
    float: right;
    display: block;
    clear: both;
    margin-top: 10px;
}

#formElements {
    clear: both;
}


/*end sidebar css */

#showMe {
    width: 33px;
    position: absolute;
    display: none;
    filter: invert(100%);
    cursor: pointer;
    left: 35px;
    top: 15px;
}

#question {
    float: left;
    position: absolute;
    top: 10px;
    left: 5px;
}

.fa-microphone-slash {
    display: none;
    font-size: 11px;
    padding-right: 4px;
    color: #000;
}




#local_tv_ctnr {
    position: absolute;
    left: 45px;
}

#canvas {
    position: absolute;
    z-index: 50;
    top: 619px;
    left: -910px;
    width: 250px;
    height: 250px;
    /* top: 20px;
    left: 10px;
    width: 400px;
    height: 300px; */
}

#canvasSml {
    position: relative;
    left: 200px;
    width: 100px;

}

#canvasBack {
    position: absolute;
}


.peerDiv {
    z-index: 500;
    position: relative;
    width: 250px;
    height: 250px;
    float: left;
    bottom: 0;
    visibility: hidden;
}

#hideBtn {
    position: absolute;
    z-index: 150;
    top: 264px;
    left: 0;
    width: 110px;
}

#rouletteBtn {
    position: absolute;
    z-index: 150;
    top: 344px;
    left: 0;
    width: 110px;
}

#btnCtnr {
    position: absolute;
    top: -77px;
}

#muteBtn {
    position: absolute;
    z-index: 150;
    top: 124px;
    left: 0;
    width: 110px;
}

#spinBtn {
    position: absolute;
    z-index: 150;
    top: 364px;
    left: 0;
    width: 110px;
}

#stopBtn {
    position: absolute;
    z-index: 150;
    top: 384px;
    left: 0;
    width: 110px;
}

#gifyoselfBtn {
    position: absolute;
    z-index: 150;
    top: 244px;
    left: 0;
    width: 110px;
}

#videoyoselfBtn {
    position: absolute;
    z-index: 150;
    top: 264px;
    left: 0;
    width: 110px;

}

#defaultcubeBtn {
    position: absolute;
    z-index: 150;
    top: 284px;
    left: 0;
    width: 110px;

}

#gifPeerBtn {
    position: absolute;
    z-index: 150;
    top: 304px;
    left: 0;
    width: 110px;

}



#muteSym {
    display: inline-block;
}

#inverBtn {
    position: absolute;
    z-index: 150;
    top: 144px;
    left: 0;
    width: 110px;
}

#weirdBtn {
    position: absolute;
    z-index: 150;
    top: 164px;
    left: 0;
    width: 110px;
}

#tintBtn {
    position: absolute;
    z-index: 150;
    top: 184px;
    left: 0;
    width: 110px;
}

#threshBtn {
    position: absolute;
    z-index: 150;
    top: 204px;
    left: 0;
    width: 110px;
}

#brightBtn {
    position: absolute;
    z-index: 150;
    top: 204px;
    left: 0;
    width: 110px;

}

#normBtn {
    position: absolute;
    z-index: 150;
    top: 224px;
    left: 0;
    width: 110px;
}

#myVideo {
    position: absolute;
    top: 210px;
    left: 229px;
    /* width: 270px;
    height: 210px; */
    z-index: 100;
    display: none;
}

#maintv {
    position: absolute;
    width: 589px;
    left: -33px;
    top: 1px;
    pointer-events: none;
    z-index: 75;
}

#myVideo,
#myAudio {
    display: inline-block !important;
    position: absolute;
    left: inherit;
    top: -1000px;
}

#canvasBack {
    display: none;
}

.jsgif {

    position: absolute;
    left: -1000px;
}

#myGifArea {
    position: absolute;
    left: -1000px;
}


#spotify_ctnr{
    position: absolute ;
    top: 50px;
    right: 0px;
}

#spotify-embed-iframe {
    /* position: absolute;
    top: 50px;
    right: 0px; */
}

#fullSpotifyBtn {
    position: relative;
    top: -7px;
    width: 80px;
    font-size: 11px;
    color: #ffffff;
    cursor: pointer;
    
}